*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Serif Pro", serif;

  --fw-reg: 300;
  --fw-bold: 800;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0b1;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
}

@media (min-width: 600px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.25rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

section {
  padding: 5em 2em;
}

.section_title {
  margin-bottom: 0.25em;
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle--home {
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  text-align: center;
}

/* home */
.section_title--home {
  display: block;
  text-align: center;
}

.homepage {
  position: relative;
  background-color: var(--clr-dark);
  background-size: cover;
  color: var(--clr-light);
}

/* about */
.about-me {
  position: relative;
  text-align: center;
}

/* coursework */
.course-work {
  position: relative;
  background-color: #f3efe0;
  background-size: cover;
  text-align: center;
}

/* projects */
.programming-work {
  position: relative;
  background-color: #f3efe0;
  background-size: cover;
  text-align: center;
}

/* contact */
.contact-info {
  position: relative;
  background-color: #434242;
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}
